#h1 {
    transform: translate(-100%, 70%);
    filter: blur(5px);
    transition: transform 0.5s ease, filter 0.5s ease;
}

#h1.show {
    transform: translate(-100%, 0);
    filter: blur(0);
}

@media (prefers-reduced-motion) {
    #h1 {
        transform: translate(-100%, 0);
        transition: none;
        filter: none;
    }

    #h1.show {
        transform: translate(-100%, 0);
        filter: none;
    }
}
