body.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(3%);
    transition: transform 0.5s ease, opacity 0.5s ease, filter 0.5s ease;
}

@media(prefers-reduced-motion) {
    body.hidden {
        transition: none;
        opacity: 1;
        filter: none;
        transform: none;
    }
}

body.show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
