#site-footer {
    margin-top: 3em;
    display: flex;
    gap: 4em;
    border-top: 1px solid $white-3;
    padding: 16.3em 0;
    flex-wrap: wrap;

    .logo {
        margin-bottom: 0.8em;
    }

    h2 {
        margin-top: 0;

        &:first-of-type {
            font-size: 1.5em;
            font-weight: 400;
        }

        &:not(:first-of-type) {
            font-size: 0.9em;
            font-weight: 700;
        }
    }

    div {
        flex: 2;

        p {
            margin: 0;
            margin-top: 0.5em;
            font-size: 0.8em;
        }
    }

    nav {
        flex: 1;
    }

    form {
        flex: 2;
        flex-basis: content;
        max-width: 20em;
        position: relative;

        h2 {
            font-size: 1.5em;
            font-weight: 400;
        }
    }

    a {
        display: inline-block;
        color: $grey-4;
        font-size: 0.9em;
        border-bottom: 1px dotted $grey-2;

        &[aria-current="page"] {
            pointer-events: none;
            cursor: default;
            font-weight: normal;
            border-bottom: 1px dashed $grey-3;
        }

        &:hover {
            color: $grey-4;
            font-weight: normal;
            border-bottom: 1px dashed $grey-3;
        }
    }

    input {
        display: block;
        width: 100%;
    }

    button {
        display: block;
        margin-left: auto;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

@include max-media-query() {

    #site-footer div,
    #site-footer form {
        flex-basis: 100%;
    }
}

#arrow {
    position: absolute;
    top: -40%;
    right: 40%;
    stroke-dasharray: 400;
    /* Adjusted to match the path length */
    stroke-dashoffset: 400;
    /* Initial state (not drawn) */
    transition: stroke-dashoffset 0.5s;
    /* Smooth transition when resetting */
}

#arrow.show {
    animation: dash 5s linear forwards;
    /* Animate forward */
}

#arrow.reset {
    stroke-dashoffset: 400;
    /* Reset to start (not drawn) */
}

@keyframes dash {
    from {
        stroke-dashoffset: 400;
        /* Starting from the full length of the path */
    }

    to {
        stroke-dashoffset: 0;
        /* Animates to the end of the path */
    }
}