.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
}

.grid-container img {
    width: 100%;
    display: block;
    flex-basis: 100%;
}

@media (max-width: 992px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.margin-top {
    margin-top: 6em;
}