.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;

    img {
        width: 100%;
        display: block;
        flex-basis: 100%;
    }
}

@include max-media-query() {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.margin-top {
    margin-top: 6em;
}
