.masthead {
    display: flex;
    text-align: center;
    height: 60vh;
    background: linear-gradient($white-alpha, $white-alpha), url($hero-image-url) center center no-repeat;
    background-size: 400px 400px;
    box-shadow: inset 0px -20px 20px 20px white inset;

    h1 {
        font-weight: 400;
        font-size: 7.4vmin;
        margin: auto;
        text-decoration: underline;
        text-decoration-color: $green-tint;
    }

    img {
        object-fit: cover;
        border: 1px solid $white-3;
        border-radius: 10px;
        margin: auto;
    }

    &:has(img) {
        margin-top: 3.35em;
        margin-bottom: 2.75em;
        height: auto;
    }
}
