/* for block of numbers */
.hljs-ln-numbers {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    text-align: right;
    color: #889;
    border-right: 1px solid #667;
    vertical-align: top;
    padding-right: 5px;

    /* your custom style here */
}

/* for block of code */
.hljs-ln-code {
    padding-left: 10px;
}

pre td {
    border-bottom: 0;
}

pre table {
  width: 100% !important;
  table-layout: fixed;
  word-break: break-word;
}

.hljs-ln td {
    display: inline-block;
    margin-right: 1em;
    padding-right: 1em !important;
}

pre button.hljs-copy-button {
    width: auto;
    height: auto;
}