#post-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1em;
}
#post-navigation a {
    padding: 1em;
    font-size: .8em;
    display: flex;
    align-items: center;
    gap: .5em;
}
#prev-button {
    margin-right: auto;
}
#next-button {
    margin-left: auto;
}
