div[itemprop="articleBody"] {
    display: flex;
    flex-flow: row-reverse;
    gap: 5em;
    margin-bottom: 6em;
}

div[itemprop="articleBody"] > div:first-child {
    position: sticky;
    top: 0;
    align-self: start;
}

div[itemprop="articleBody"] > div:last-child {
    flex: 1;
}

@media (max-width: 992px) {
    div[itemprop="articleBody"] {
        display: block;
    }
    div[itemprop="articleBody"] > div:first-child {
        position: static;
    }
}

div[itemprop="articleBody"] > div:first-child h2 {
    font-size: 1em;
}

.thin-container {
    max-width: 100ch;
    margin-left: auto;
    margin-right: auto;
}