#post-navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#post-navigation a {
    padding: 1em;
}
#prev-button {
    margin-right: auto;
}
#next-button {
    margin-left: auto;
}
