div[itemprop="articleBody"] {
    display: flex;
    flex-flow: row-reverse;
    gap: 5em;
    margin-bottom: 6em;

    // Media query mixin to change layout on smaller screens
    @include max-media-query() {
        display: block;
    }
}

aside#toc-container {
    position: sticky;
    top: 1.2em;
    align-self: start;

    @include max-media-query() {
        position: static; // Adjust position in smaller screens
        min-width: 0;
    }
}

div#post-body {
    flex: 1;
    width: 1rem;

    @include max-media-query() {
        width: auto;
    }
}

.thin-container {
    max-width: $body-max-width-thin;
    margin-left: auto;
    margin-right: auto;
}
