#search-form {
    position: relative;
}
#search-input {
    margin-top: 1em;
    width: 100%;
}
#search-results {
    list-style: none;
    padding: 0;
    display: none;
    z-index: 1;
}
#search-results.open {
    display: block;
}
#search-results a {
    font-size: 1.2em;
    @include a-style;
}
#search-results p {
    margin-bottom: 0;
}
#search-results hr {
    @include hr-style;
}
