#toc-container {
    min-width: 12.45em;
    max-width: 12.45em;

    h2 {
        font-size: 1em;
    }

    ul {
        padding-left: 0;
        list-style: none;
    }

    li {
        border-left: 1px solid $white-3;
        padding: 0.2em 0.8em;
        margin-bottom: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &.active {
            background-color: $white-5;
            border-left-color: $grey-3;

            a {
                color: $grey-6;
            }
        }
    }

    a {
        font-size: 0.8em;
        color: $grey-5;
        text-decoration: none;
    }
}
