---
---

@charset "utf-8";

$html-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !default;
$html-font-size:   62.5% !default;

$body-line-height: 1.618 !default;
$body-mobile-font-size: 1.35rem !default;
$body-bigger-font-size: 1.8rem !default;
$body-max-width: 144rem !default;
$body-padding-vertical: 1.3rem !default;
$body-padding-horizontal: 3rem !default;

$grey-1:       #4a4a4a !default;

$breakpoint:          992px !default;

@mixin min-media-query() {
  @media screen and (min-width: $breakpoint) {
    @content;
  }
}

@import
  "normalize",
  "classless",
  "header",
  "footer",
  "logo",
  "hero",
  "post-card",
  "post-header",
  "post-body",
  "fader",
  "toc",
  "grid"
;
