<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="google-site-verification" content="kmxLaO5rLaBL5qsd2rAe0ZhZQ7MlIHiZLGfiMYt0e-Y">
<META HTTP-EQUIV='Content-Security-Policy' CONTENT="default-src 'self'; script-src 'self' 'unsafe-inline' *.disqus.com a.disquscdn.com requirejs.org www.google-analytics.com; style-src 'self' 'unsafe-inline' a.disquscdn.com; img-src 'self' *; media-src 'self'; frame-src disqus.com;">
{% seo %}
<style>
    {% capture include_to_scssify %}
        {% include components/styles.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
</style>
<!-- <script src="/assets/js/main.js" defer></script> -->
<link rel="icon" href="/favicon.ico" type="image/x-icon">
