{%- assign post_limit = include.limit | default: nil -%}
{%- assign post_offset = include.offset | default: 0 -%}
{%- assign show_excerpt = include.excerpt | default: 1 -%}
{%- assign use_grid = include.grid | default: 1 -%}
{%- assign category_name = include.category | default: nil -%}
{%- assign margin_top = include.margin-top | default: 0 -%}

{%- if site.posts.size > 0 -%}
<div {% if use_grid == 1 %}class="grid-container{% if margin_top != 0 %} margin-top{% endif %}"{% endif %}></div>
    {%- assign posts_to_display = site.posts -%}
    {%- if category_name -%}
        {%- assign posts_to_display = site.categories[category_name] -%}
    {%- endif -%}
    
    {%- for post in posts_to_display offset: post_offset limit: post_limit -%}
    <div class="post-card">
        <img width="500" height="500" src="{{ post.thumbnail }}" alt="{{ post.thumbnail }}">
        <div>
            <span>{{ post.date | date: site.date_format }}</span>
            <h3>
                <a href="{{ post.url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            <hr>
            <div>
                <div>
                    <span>By</span><br>{{ site.title }}
                </div>
                <ul>
                    {% for category in post.categories %}
                    <li>
                        {% assign category_slug = category | downcase %}
                        {% if category_slug == 'personal' %}
                            <a class="button red" href="{{ category_slug }}.html">{{ category }}</a>
                        {% elsif category_slug == 'technology' %}
                            <a class="button green" href="{{ category_slug }}.html">{{ category }}</a>
                        {% else %}
                            <a class="button" href="{{ category_slug }}.html">{{ category }}</a>
                        {% endif %}
                    </li>
                    {% endfor %}                    
                </ul>
            </div>
            {%- if show_excerpt == 1 -%}
            {{ post.excerpt }}
            {%- endif -%}
        </div>
    </div>
    {%- endfor -%}
</div>
{%- endif -%}
