<div>
    <form id="search-form">
        <input type="text" id="search-input" placeholder="Search...">
    </form>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script>
        let postsObject = {
            {% for post in site.posts %}
            "{{ post.url | slugify }}": {
                "title": "{{ post.title | xml_escape }}",
                "author": "{{ post.author | xml_escape }}",
                "category": "{{ post.category | xml_escape }}",
                "content": {{ post.content | strip_html | strip_newlines | jsonify }},
                "url": "{{ post.url | xml_escape }}"
            }{% if forloop.last == false %},{% endif %}
            {% endfor %}
        };

        let documents = Object.values(postsObject);
        
        let idx = lunr(function () {
            this.ref('url');
            this.field('title');
            this.field('content');
            this.field('category');

            documents.forEach((doc) => {
                this.add(doc);
            });
        });

        const input = document.querySelector("#search-input");
        input.addEventListener("input", () => {
            const searchValue = input.value;
            if (searchValue) {
                const result = idx.search(searchValue);
                console.log(result);
            }
        });
    </script>
</div>
