<div>
    <form id="search-form">
        <input type="text" id="search-input" placeholder="Search...">
    </form>
    <ul id="search-results"></ul>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script>
        let postsObject = {
            {% for post in site.posts %}
            "{{ post.url | slugify }}": {
                "title": "{{ post.title | xml_escape }}",
                "author": "{{ post.author | xml_escape }}",
                "category": "{{ post.category | xml_escape }}",
                "content": {{ post.content | strip_html | strip_newlines | jsonify }},
                "url": "{{ post.url | xml_escape }}"
            }{% if forloop.last == false %},{% endif %}
            {% endfor %}
        };

        let documents = Object.values(postsObject);
        
        let idx = lunr(function () {
            this.ref('url');
            this.field('title', { boost: 10 });
            this.field('content');
            this.field('category');

            documents.forEach((doc) => {
                this.add(doc);
            });
        });

        const input = document.querySelector("#search-input");
        const resultsList = document.querySelector("#search-results");

        input.addEventListener("input", () => {
            const searchValue = input.value;
            resultsList.textContent = "";

            if (searchValue) {
                const results = idx.search(searchValue);

                if (results.length) {
                    results.forEach(result => {
                        const doc = postsObject[result.ref];

                        const listItem = document.createElement("li");
                        const titleElement = document.createElement("h3");
                        const link = document.createElement("a");

                        link.href = doc.url;
                        link.textContent = doc.title;
                        titleElement.appendChild(link);
                        listItem.appendChild(titleElement);
                        resultsList.appendChild(listItem);
                    });
                } else {
                    const listItem = document.createElement("li");
                    listItem.textContent = "No results found";
                    resultsList.appendChild(listItem);
                }
            }
        });
    </script>
</div>
