<div>
    <form id="search-form">
        <input type="text" id="search-input">
    </form>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script>
        let documents = [{
        "name": "Lunr",
        "text": "Like Solr, but much smaller, and not as bright."
        }, {
        "name": "React",
        "text": "A JavaScript library for building user interfaces."
        }, {
        "name": "Lodash",
        "text": "A modern JavaScript utility library delivering modularity, performance & extras."
        }];
        let documents = [
            {% for post in site.posts %}
            {
                "name": "{{ post.title }}",
                "text": "{{ post.description }}",
                "categories": "{{ post.categories | join: ', ' }}",
                "image": "{{ post.image }}"
            }{% if forloop.last == false %},{% endif %}
            {% endfor %}
        ];
        let idx = lunr(function () {
            this.ref('name');
            this.field('text');

            documents.forEach((doc) => {
                this.add(doc);
            });
        });
        const input = document.querySelector("#search-input");
        input.addEventListener("keydown", (event) => {
            const searchValue = event.target.value;
            result = idx.search(searchValue);
            console.log(result);
        });
    </script>
</div>
