---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">

  <header id="post-header">
    <section class="masthead" role="img" aria-label="Image Description">
        <img width="500" height="500" src="{{ page.thumbnail }}" alt="{{ post.thumbnail }}">
    </section>
    <div class="thin-container">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: site.date_format }}
      </time>
      <span>•</span>
      <span>{% include components/reading-time.html %}</span>
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
      <hr>
      <div>
        <p>
          <span>By</span><br>{{ site.title }}
        </p>
        <button>{{ page.categories | first }}</button>
      </div>
    </div>
  </header>

  <div itemprop="articleBody" class="thin-container">
    <aside id="toc-container">
        <h2>Table of Contents</h2>
        {% include components/toc.html html=content h_max=2 %}
    </aside>
    <div id="post-body">
        {{ content }}
    </div>
  </div>

  {% include components/utterances.html %}

  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
