---
layout: default
---

<article itemscope itemtype="http://schema.org/BlogPosting">

  <header id="post-header">
    <div class="masthead">
        <img width="400" height="400" src="{{ page.image }}" alt="{{ post.image }}">
    </div>
    <div class="thin-container">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: site.date_format }}
      </time>
      <span>•</span>
      <span>{% include components/reading-time.html %}</span>
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
      <hr>
      <div>
        <p>
          <span>By</span><br>{{ site.title }}
        </p>
        {% assign category = page.categories | first %}
        {% assign category_slug = category | downcase %}
        {% if category_slug == 'personal' %}
            <a class="button red" href="{% link personal.md %}">{{ category }}</a>
        {% elsif category_slug == 'technology' %}
            <a class="button green" href="{% link technology.md %}">{{ category }}</a>
        {% else %}
            <a class="button" href="{{ category_slug }}.html">{{ category }}</a>
        {% endif %}
      </div>
    </div>
  </header>

  <div itemprop="articleBody" class="thin-container">
    <aside id="toc-container">
        <h2>Table of Contents</h2>
        {% include components/toc.html html=content h_max=2 %}
    </aside>
    <div id="post-body">
        {{ content }}
    </div>
  </div>

  {% include components/utterances.html %}

<div class="post-navigation">
  {% if page.previous %}
    <a href="{{ page.previous.url }}" id="prev-button" aria-label="Go to previous post: {{ page.previous.title }}">
      <div>← Previous Post: {{ page.previous.title }}</div>
    </a>
  {% endif %}
  
  {% if page.next %}
    <a href="{{ page.next.url }}" id="next-button" aria-label="Go to next post: {{ page.next.title }}">
      <div>Newer Post: {{ page.next.title }} →</div>
    </a>
  {% endif %}
</div>


  <a href="{{ page.url | relative_url }}" hidden></a>
</article>
